.slidev-layout.soppy-frame {
  @apply absolute inset-0 grid overflow-hidden p-0;

  .soppy-frame__main {
    grid-area: main;
    @apply min-w-0 min-h-0;
    padding: var(--soppy-layout-minor-pad);
  }

  .soppy-frame__media {
    grid-area: media;
    @apply p-0 min-w-0 min-h-0 overflow-hidden;
  }

  &.soppy-frame--left {
    grid-template-rows: 1fr;
    grid-template-areas: "media main";
  }

  &.soppy-frame--right {
    grid-template-rows: 1fr;
    grid-template-areas: "main media";
  }

  &.soppy-frame--top {
    grid-template-columns: 1fr;
    grid-template-areas: "media" "main";
  }

  &.soppy-frame--bottom {
    grid-template-columns: 1fr;
    grid-template-areas: "main" "media";
  }
}
